@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
	width: 100vw;
	height: 100vh;
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

button {
	border-radius: 8px;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	cursor: pointer;
}
/* button:hover {
	border-color: #646cff;
} */
/* button:focus,
button:focus-visible {
	outline: 1px auto -webkit-focus-ring-color;
}
*/

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	/* button {
		background-color: #f9f9f9;
	} */
}

code.hljs {
	padding: 3px;
	border: none;
	border-radius: 12px;
	background-color: #FEFEFE;
}

.prose pre {
	color: gray;
	padding: 0;
	background-color: #FEFEFE;
}

.prose {
	color: var(--tw-prose-body);
	max-width: 75ch;
}

/* 스크롤바 전체 영역 */
::-webkit-scrollbar {
  width: 0.7rem; /* 세로 스크롤바 너비 */
  height: 0.7rem; /* 가로 스크롤바 높이 */
}

/* 스크롤바 핸들 */
::-webkit-scrollbar-thumb {
  background-color: #ddd; /* 핸들 색상 */
}

/* 스크롤바 핸들 호버 시 */
::-webkit-scrollbar-thumb:hover {
  background-color: #ccc; /* 호버 시 색상 */
}

/* 스크롤바 버튼(위쪽 화살표) */
::-webkit-scrollbar-button:vertical:start:decrement {
  background: url('src/assets/icons/arrow-up.svg') no-repeat center; /* 위쪽 화살표 */
  background-size: 0.5rem; /* 화살표 크기 조정 */
  height: 0.75rem; /* 버튼 높이 */
}

/* 스크롤바 버튼(아래쪽 화살표) */
::-webkit-scrollbar-button:vertical:end:increment {
  background: url('src/assets/icons/arrow-down.svg') no-repeat center; /* 아래쪽 화살표 */
  background-size: 0.5rem; /* 화살표 크기 조정 */
  height: 0.75rem; /* 버튼 높이 */
}
