spring:
  jpa:
    hibernate:
      ddl-auto: update

  jackson:
    time-zone: Asia/Seoul


  datasource:
    url: jdbc:mysql://localhost:3306/chatbot?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: root
    password: ssafy
